@font-face{
    font-family: "Gotham Bold";
    src: url("../../fonts/2019/GOTHAM-BOLD.TTF");
    font-weight: 400;
    font-style: normal
}

@font-face{
    font-family: "Gotham";
    src: url("../../fonts/2019/GothamBook.woff");
    font-weight: 400;
    font-style: normal
}

@font-face{
    font-family: "Gotham Italic";
    src: url("../../fonts/2019/Gotham-BookItalic.woff");
    font-weight: 400;
    font-style: normal
}

a{
    color: #ff9900;
    background: transparent;
}

a:hover{
    font-weight: 400;
    transition: 500ms;
    color: #0C5B79
}

*{
    font-family: "Gotham";
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

.avoid-header{
    padding-top: 100px;
}

.header-area{
    background-color: #ff6633;
    padding: 0;
    border-radius: 0 0 35px 35px;
}

.logo{
    margin-left: 3%;
}

.r-logo{
    background-color: transparent;
    width: 145px;
    height: 69px
}

.footer-area{
    margin-top: 30px;
    background: #ff6633;
    height: 60px;
}

.content-container{
    margin-bottom: 10px;
}

.m-f{
    font-size: 13px;
    color: white;
    margin-top: 20px;
}

.opt-tab{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px 35px 0 0;
    background-color: #ff9900;
    padding: 5px 10%;
}

.tab-btn{
    background-color: #ff9900;
    border: none;
    color: white;
}

.tab-btn:hover{
    background-color: #ff6633;
    cursor: pointer;
}

.active, .tab-btn:hover{
    background-color: white;
    border-radius: 7px;
    transition: 0.3s;
    color: #ff9900;
}

.pt-15{
    padding-top: 15px;
}

.content-wrapper{
    width: 80%;
    background-color: gray;
}

.ind-btn{
    cursor: pointer;
    width: 100%;
}

.logo-wrapper{
    background-color: white;
    border-radius: 35px;
    color: white;
    width: 80%;
    box-shadow: 1px 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.logo-pad:hover{
    cursor: pointer
}

.logo-pad{
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contentcollapsed{
    background-color: #ff6633;
    border-radius: 0 0 35px 35px;
    color: white;
    width: 80%;
    box-shadow: 1px 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: none
}

#memberForm{
    display: none;
}

.btn-talent{
    width: 75%;
    height: 50px;
    margin-top: 0.5em;
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-bottom: 10px;
    background-color: #ff6633;
    border: none;
    color: white;
    max-width: 40%;
    border-radius: 7px;
}

.btn-talent:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #ff9900
}

.btn-talent img{
    width: 50px;
    position: absolute;
}

.tal-desc{
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    margin-bottom: 3%;
    border-radius: 10px;
}

.desc-collapsed{
    display: none;
    padding-left: 3%;
    padding-right: 3%;
    color: rgb(66, 53, 53);
    margin-bottom: 15px;
}

.d-none, .desc-collapsed{
    margin-bottom: 15px;
}

.t-reg{
    width: 100%;
    border-radius: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    color: black;
}

.t-reg:hover{
    background-color: #ff9900;
    color: white;
    transition: .3s;
}

/* Regist **/

.bg-form{
    background-color: #ff6633;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

.reg-submit{
    background-color: #ff6633;
    border-color: #ff6633;
    color: #fff
}

.reg-submit:hover{
    transition: .3s;
    background-color: #ff6611
}

.add-cont{
    margin-top: 10%;
}

.want-text{
    color: rgb(216, 196, 196);
}

/* button append */

